@using BaharShop.Application.DTOs.Orders
@model List<GetUserOrderDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>سفارشات شما</h1>

<table style="border:dashed" class="table table-responsive table-active table-bordered">
    <thead>
        <tr style="border:solid">
            <th>شماره سفارش</th>
            <th>شماره فاکتور</th>
            <th>وضعیت سفارش</th>
            <th>محصولات در این سفارش</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr style="border:solid">
                <td>@item.OrderId</td>
                <td>@item.PayId </td>
                <td>@item.OrderState </td>

                <td>
                    <table>
                        @foreach (var orderItem in item.OrderItems)
                        {
                            <tr style="border:outset">
                                <td> @orderItem.ProductName</td>
                                <td> @orderItem.Price</td>
                                <td> @orderItem.Count</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }

    </tbody>
</table>